body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://thumbs.dreamstime.com/b/green-organic-vegetables-food-pattern-vector-background-331419926.jpg');
}

header {
    background-color: rgb(11, 136, 24);
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: black;
}

.meal {
    background-color: rgb(192, 240, 236);
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(11, 136, 24);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
